<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RateMyLib</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="libraries-link" class="nav-link" href="/libraries">All Libraries</a>
                <a id="studySpots-link" class="nav-link" href="/studySpots">All study spots</a>
                <a id="new-studySpot-link" class="nav-link" href="/studySpots/new">Add new study
                    spot</a>
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login">login</a>
                    <a class="nav-link" href="/register">register</a>
                    <% } else { %>

                        <a class="nav-link" href="/logout">logout</a>
                        <% } %>
            </div>
        </div>

    </div>
</nav>