<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libraries</title>
</head>

<body>
    <h1>all libraries!</h1>

    <ul>

        <% for (let l of libraries) { %>
            <li>
                <a href="/libraries/<%= l._id %> ">
                    <%= l.name %>
                </a>
                <ul>
                    <li>
                        <%= l.location %>
                    </li>

                    <li><img src="<%= l.image %>" width="200" height="200"></li>
                </ul>
            </li>
            <% } %>

    </ul>
</body>

</html>