<% layout('layouts/boilerplate.ejs') %>
    <div class="col-md-10 offset-md-1">
        <h1>All libraries</h1>
        <% for (let l of libraries){ %>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=l.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                <%= l.name %>
                            </p>
                            <!-- <p class="card-text">
                            <small class="text-muted">
                                <%= %>
                            </small>
                        </p> -->
                            <a class="btn btn-primary" href="/libraries/<%=l._id%>">View this library
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>