<% layout('layouts/boilerplate.ejs') %>
    <div class="alert alert-warning mt-5" role="alert">
        <h4 class="alert-heading">Uh oh, we have a <%= err.status %> Error</h4>
        <p>
            The error status is <%= err.status %> because <%= err.message %>.
        </p>
        <hr>
        <p>To learn more about error status codes, visit <a
                href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">this link</a></p>

    </div>