<% layout('layouts/boilerplate.ejs') %>
    <div class="alert alert-warning mt-5" role="alert">
        <h4 class="alert-heading">Erorrrrrrrr</h4>
        <p>
            The error status is <%= err.status %> because <%= err.message %>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis placeat minima quasi vero recusandae
            reiciendis, quod assumenda dolor, quidem architecto, molestias in quaerat numquam. Eaque consequatur
            officiis nemo totam delectus?</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>