<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add study spot</title>
</head>

<body>
    <h1>Add new study spot</h1>
    <form action="/studySpots" method="POST">
        <label for="description">Enter study spot description</label>
        <textarea name="studySpot[description]" id="description" cols="30" rows="10"></textarea>

        <label for="library">Enter the library</label>
        <input type="text" name="studySpot[library]" id="library">

        <label for="image">Upload an image</label>
        <input type="text" name="studySpot[image]" id="image">

        <button>submit</button>
    </form>
</body>

</html>